<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQuOJH4ThOo2QGgBMteFX8SHJL1KaSeFI</string>
	<key>GCM_SENDER_ID</key>
	<string>880389850928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcaayush.codes.expensoExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expenso-e4e26</string>
	<key>STORAGE_BUCKET</key>
	<string>expenso-e4e26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880389850928:ios:44e8d801f1cd7ed2556af5</string>
</dict>
</plist>